<h2>List of articles</h2>
<% @articles.each do |art| %>
	<p>
		<h3>
			<%= art.title %>
		</h3>
		<br />
			<%= art.text %>
		<br />
		<br />
		Создан: <%= art.created_at %>
		<%= link_to 'Show', article_path(art) %> |
		<%= link_to 'Edit', edit_article_path(art) %>
	</p>
	<hr />
<% end %>

