<h1><%= @article.title %></h1>
<p>
	<%= @article.text %>
</p>
<h2> Add comments </h2>
<p>
	<%= form_for([@article, @article.comments.build]) do |f| %>
<p>
		<%= f.label :autor %><br />
		<%= f.text_field :autor %>
	</p>

	<p>
		<%= f.label :body %><br />
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit 'Send comment'%>
	</p>
	<% end %>
</p>
<h2> Comments </h2>
<hr />
<p>
	<% @article.comments.each do |art| %>
		<h4>
			<%= art.autor %>
		</h4>
		<p>
			<%= art.body %>
		</p>
		<p>
			<%= art.created_at %>
		</p>
		<hr />
	<% end %>
</p>